<div class="navbar">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>

    <div class="search-container">
        <input type="text" placeholder="Buscar..." id="search">

        <button type="button">Buscar</button>
    </div>
</div>
