* {
  margin: 0px;
  /*

  */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header {
  /**/
  background-image: url('../img/bradcam.png');
  /**/
  background-repeat: no-repeat;
            /*El eje x y El eje y*/
  background-size: 100% 100%;

  height: 100vh;
  color:white;
}

.menu {/*50 verticalmente y 0 horizontalmente*/
  padding: 50px 0px;
}


header .menu ul{
  margin: 0px;
  padding: 0px;
}

header .menu ul li{
  /*Muestra los elementos en una linea y en un bloque
  se usa para realizar una barra de navegacion
  o Navigation bar (NavBar)*/
  display: inline-block;
  padding: 10px;
  /*Alineacion vertical para alinear el logo*/
  vertical-align: middle;
}

header .menu ul li a {
  color: white;
  /*Quita el subrayado de un enlace o hipervinculo*/
  text-decoration: none;
}
/* Hoover activa cuando el puntero este sobre el enlace */
header .menu ul li a:hover{
  /*Coloca el subrayado*/
  text-decoration: underline;
}

header .menu ul .logo {
  margin-right: 40%;
  margin-left: 100px;
}

/* */

.main-container main {
  /*0px verticalmente auto horizontalmente
  significa que centrara el elemento*/
  margin: 0px auto;
  width: 1400px;

}

.main-container header main div {
  display: inline-block;
  vertical-align: middle;
}

.main-container header main .text h1 {
  font-size: 80px;
}

.main-container header main .text p {
  font-size: 24px;
  padding: 20px 0px;
}

button {
  background-color: #24d9e6;
  border: 0px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 20px 25px;
  margin: 40px 0px;
}
/*hoover se activa cuando el puntero esta sobre el boton*/
button:hover {
  background-color: #14929b;
}

.main-container header main .image {
  text-align: right;
  width: 700px;
}
/************************************/
.layout {
  width: 1280px;
  margin: 250px auto;
}

.layout div {
  display: inline-block;
  vertical-align: middle;
}

.layout h3 {
  font-size: 48px;
  padding: 25px 0px;
}

.layout p {
  padding: 25px 0px;
  /*altura entre lineas de texto*/
  line-height: 25px;
}

.layout-left .text {
  width: 500px;
}

.layout-left .image {
  width: 770px;
  text-align: right;
}

.layout-right .text {
  width: 500px;
}

.layout-right .image {
  width: 770px;
  text-align: center;
}

.section h1 {
  text-align: center;
  padding: 25px 0px;
}

.section p {
  text-align: center;
  padding: 25px 0px;
}

footer {
  background-color: black;
  padding: 150px 20px;
  color: white;
  text-align: center;
}