*{
  /*List style no tendran ningun stilo*/
  list-style: none;
  /*No tiene lineas y alguna decoracion existente es removida*/
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6fa;
}

.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 225px;
  height: 100%;
  padding: 20px 0px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a:hover {
  color:#0c7db1;
  background: white;
}
/*
before se ejecuta cuando se carga la pagina, se ejecuta en el hover
*/
.wrapper .sidebar ul li a:hover:before {
  display: block;
}

.container {
  margin: 50px 50px 50px 250px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
  height: 45vw;
}