/*Selector Universal*/
/*
* {
  color:purple;
}
*/


/*
Codigo css

*/
/*Selector de tipo*/
/*
h1 {
  color:blue
}

h2 {
  color:green;
}

p {
  color: purple;
}

ul {
  color:chocolate;
}

ol {
  color:chocolate;
}

*/
/*Selector de clase*/
.lista-de-valor {
  color:red;
}

/*Selector de id*/
#titulo-principal {
  color:brown;
}

img[alt] {
  width: 400px;
}

[type="radio"] {
  height: 50px;
}

/*Estilos de selector atributo*/
/*
.text-1 {
  color:green;
}

.text-2 {
  color:green;
}

.text-3 {
  color:green;
}

.text-4 {
  color:green;
}
*/

/*Selectores Agrupados*/
/*
.text-1,
.text-2,
.text-3,
.text-4 {
  color:green;
}
*/


/*
.contenedor p {
  color:brown;
}
*/




/*Selector Descendiente*/
/*
div .text-2 {
  color:green;
}
*/

/*Selector hermano siguiente*/

/*
.text-2 + .title-2 {
  color:blue;
}
*/


/*Selector hijo directo*/
/*
.contenedor p {
  color:brown;
}
*/

/*Selector hijo directo solo de una linea*/

.contenedor > p {
  color:brown;
}


