.box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: lightcyan;
  width: 300px;
  height: 300px;
  color: black;
  overflow: auto;
}

.text {
  width: 350px;
}

.text-2 {
  outline: 1px solid red;
}

.trs {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 5s ease;
}

.trs:hover {
  width: 500px;
}