.cambio-tamano {
  font-size: 25px;
  color:blue;
}

.tipo-letra {
  font-family: Verdana;
}

.tipo-roboto {
font-family: 'Roboto', sans-serif;
}

.tipo-nautigal {
font-family: 'The Nautigal', cursive;
}

.grosor {
  font-weight: bold;
}

.img-gato-plomo {
  width: 550px;
  height: 400px;
  /*ancho del borde*/
  border-width: 20px;
  /*color del borde*/
  border-color: rgb(0, 225, 255);
  /*estilo del borde*/
  border-style: solid dashed dotted double;
}

.img-gato-naranja {
  width: 600px;
  border-radius: 50%;
}

.texto {
  text-align: center;
  text-decoration: line-through;
  text-shadow: 3px 5px 5px blue;
}