/*Cuando no fue visitado*/
a:link {
  color:darkgreen;
}

/*Cuando fue visitado*/
a:visited {
  color:gray;
}

/*Cuando se pasa el mouse por encima*/
a:hover {
  color: red;
}

/*Cuando se le da click al link*/
a:active {
  color: chocolate;
}

.fondo {
  background-color: red;
} 


.fondo-2 {
  /*primera forma de opacidad*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgb(255, 0, 0);
  opacity: 0.3;
}

.fondo-imagen {
  /*
  background-image: url(/imagenes/coffee.png);
  height: 800px;
  background-size: 400px 400px;
  background-repeat: repeat-y;
  background-position: bottom;
  */
  height: 400px;
  background: red url('/imagenes/coffee.png')
  repeat-y right top;
  background-size: 400px 400px;
}
  
  
  

