
.center {
  /*horizontalmente*/
  width: 200px;
  /*este margin es la clave para centrar*/
  margin: 0 auto;
  /*aplica color del background*/
  background-color: aqua;
  /*centra el texto dentro del background*/
  text-align: center;
  /*verticalmente*/
  padding: 50px 0px;
}

#contenedor-principal {
  color: white;
  padding: 5px;
  font-size: 25px;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

.px {
  background-color: crimson;
  width: 200px;
}

.vw {
  background-color: darkmagenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
}

.rem {
  background-color: indianred;
  width: 10rem;
}
