:root {
  --fondo-valor-1: orange;
  --fondo-valor-2:red;
  --fondo-valor-3: blue;
  --fondo-valor-5: green;
}

body {
  background-color: silver;
}

p {
  background-color: red !important;
}

.mi-clase {
  background-color: green;
}

#mi-parrafo {
  background-color: indianred;
}

.valor-1 {
  background-color: orange;
  background-color: var(--fondo-valor-1);
}

.valor-2 {
  background-color: red;
  background-color: var(--fondo-valor-2);
}

.valor-3 {
  background-color: blue;
  background-color: var(--fondo-valor-3);
}

.valor-4 {
  background-color: green;
  background-color: var(--fondo-valor-4);
}

.valor-5 {
  background-color: green;
  /*si no existe la variable dondo 4 toma el valor grenn auxiliar*/
  background-color: var(--fondo-valor-4, green);
}

.valor-6 {
  --fondo-valor-4: pink;
  background-color: pink;
  background-color: var(--fondo-valor-4,pink);
}