.lista {
  background-color: cyan;
  /*list-style-type: square;*/
  padding-left: 0px;
}

table {
  width: 100%;
  /*Para que no tenga separacion en los bordes*/
  border-collapse: collapse;
}

th, td {
  border: solid 1px #eee;
  padding: 5px;
  text-align: center;
}

/*para la cabecera*/
th {
  background-color: tomato;
  color: rgb(255, 255, 255);
}
/*Cuando el puntero del mouse este con las filas de la tabla*/
tr:hover {
  background-color: #aaa;
  /*coloca el icono de la manito*/
  cursor: pointer;
}

/*Permite seleccionar a algunos elementos en particular*/
/*
even = par
odd = impar
*/
tr:nth-child(even) {
  background-color: #eee;
}

.bloque {
  /*convierte el elemento de bloque*/
  /*display:block;*/
  /*Oculta los elementos*/
  display:none;
  /*visibility: hidden;*/
}

.enlinea {
  /*convierte el elemento en linea*/
  display: inline;
}

.bloque2 {
  display: block;
  /*width: 700px;*/
  max-width: 700px;
  background-color: red;
}

.posicion {
  /*
  position: relative;
  left:20px;
  top:25px;
  */
  /*
  position: fixed;
  left:20px;
  */
  position: sticky;
  left: 20px;
  top: 20px;
}

.img-z-index {
  position: fixed;
  left: 20px;
  top: 30px;
  width: 700px;
  z-index: 10;
}

.izq {
  float: left;
  width: 100px;
}

.contenedor {
  /*La altura de cada elemento del contenedor*/
  height: 250px;
}

.der {
  float: right;
}

.img-cafe {
  float: left;
  width: 200px;
}
/*Card y alinea derecha se aplica en una sola etiqueta*/
.card {
  border: solid 1px #ddd;
  border-radius: 5px;
  margin: 0px 15px;
  padding: 10px 15px;
}

.alinea-derecha {
  float: right;
}