/*
h1 {
  color:red;
}

#title {
  color:green;
}

.title {
  color:blue;
}


.titulo-de-prueba {
  color:yellow;

}

.titulo-de-prueba {
  color:brown;

}
*/

.title {
  color:cyan;
}

.text {
  color:red;
}

.link {
  color:red;;
}

.link-2 {
  color:inherit;
}

.list {
  color:indianred;
}

.list-item-extra {
  color: initial;
}
  
  