body {
  margin: 0;
}
.block {
  background-color: purple;
  width: 200px;
  height: 200px;
}

.inline {
  background-color: lightcoral;
  color: inherit;
  width: 200px;
  height: 200px;
}

.container {
  background-color: red;
}

.img-gato {
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  /*padding: 15px;*/
  /*
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  */
  /*padding: 20px 15px 5px 10px;
  margin: 15px;
  */
  /*
  margin-top: 20px;
  margin-right: 15;
  margin-bottom: 10px;
  margin-left: auto;
  */
  /*margin: 20px 15px;*/
  padding: 25px;
  /*margin: 25px;*/
  margin: 20px 15px 10px 5px;
}

.bloque {
  background-color: green;
  width: 200px;
  height:200px;
  margin-left: auto; 
  margin-right: auto;
}

.img-gato-naranja {
  background-color: yellow;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  margin: 25px;
  padding: 25px;
}

.contenedor-boton {
  background-color: steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:30px;
}

.estilo-boton {
  margin-left: 150px;
  padding:25px 50px;
}
